h2 #{display}
#mapChatContainer
	#chatContainer
		#chat
			p Connecting...

		form(id="form")
		  input(type="text", autocomplete="off", id="text")
			input(type="submit", value="Send")

	div
		#canvasContainer
			canvas(id="background", width="1250", height="1250")
			//drawing the actual map image here
			
			canvas(id="shadow", width="1250", height="1250")
			canvas(id="shadowDrag", width="1250", height="1250")
			//new shadows while dragging are drawn here
			
			canvas(id="map", width="1250", height="1250") 
			//the PC images "live" here 
			
			canvas(id="top", width="1250", height="1250") 
			//dragging player images
			canvas(id="annotations", width="1250", height="1250")
			textarea(id="textArea", rows="25", cols="25") //using this as a drop target

- if (isDM || isDM == "true")
	#dmPalette
  	h3 Tools
  	input(type="button", id="tool_annotate")
  	input(type="button", id="tool_shadow")
  	input(type="button", id="tool_erase")
  	input(type="button", id="tool_wipe")
  	input(type="button", id="tool_move")
		input(type="button", id="tool_delete")
  	.clear
		.creatures
			img(class="playerImg", src="/res/img/creatures/monster1.png")
			img(class="playerImg", src="/res/img/creatures/monster2.png")
			img(class="playerImg", src="/res/img/creatures/monster3.png")
			img(class="playerImg", src="/res/img/creatures/monster4.png")
			img(class="playerImg", src="/res/img/creatures/monster5.png")
			img(class="playerImg", src="/res/img/creatures/monster6.png")
			img(class="playerImg", src="/res/img/creatures/monster7.png")
			img(class="playerImg", src="/res/img/creatures/monster8.png")
			img(class="playerImg", src="/res/img/creatures/monster9.png")
		.clear
		.hidden
			canvas(id="colorwheel", width="100", height="100")
			.clear
	  	#swatch(class="ui-widget-content ui-corner-all")

  .clear
	.hidden
	  h3 Maps
	  #dmMaps
	  p(id="innerMapContainer")

#players
	h3 Players
	- each playerObj, playerName in players
		.playerBlock
			img(class="playerImg", src= playerObj.src, id="player_" + playerObj.name)
			div(id=playerObj.name)
				.innerChat
					a(href="#", class="chatLink", id= playerObj.name) #{playerObj.name}

div.clear
#privateChat
	p Connecting

	form(id="privateForm")
	input(type="text", autocomplete="off", id="privateInput")
	input(type="submit", value="Send")

.scripts
	:javascript
		|	var currentTime = new Date(),
		|			secs = currentTime.getTime();
		| head.js("/lib/room.js?v=" + secs, 
		|					"/lib/base64.js",
		|					"/lib/canvas2Image.js",
		| function() {
		| 	_listenId = "#{listenId}";
		|		_websocketId = "#{websocketId}";
		|		_default = "#{useDefault}";
		|		_image = "#{imageName}";
		|		_userName = "#{userName}";
		|		_url = "#{url}";
		|		_isDM = #{isDM}? true : false;
		|		_isKnown = #{isKnown}? true : false;
		|		if (!_isKnown) { return initUnknown(); }
		|		return initRoom();
		|	});	